<h1>Hey Sexy</h1>

<form ng-submit="makeGallery()">
  New Location Gallery:
  <input type="text" ng-model="title" placeholder="New Gallery Name"></input>
  <button type="submit">Make New Gallery</button>
</form>

<form ng-submit="addPhoto()">
  <div class="btn-group">
    <h3>Pick a Gallery:</h3>
    <select class="form-control" ng-repeat="gallery in galleries">
      <option value="{{gallery.id}}">{{gallery.title}}</option>
    </select>

    <select class="selectpicker show-tick" name=>
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>
  </div>

  <input id="file-input" type="file" ngf-select="upload($file)" ng-model="image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100">
  <button ng-click="addPhoto()">Upload Image</button>
</form>
