<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link away" data-toggle="tab" href="#/new">Edit Galleries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  away" data-toggle="tab" href="#/new_gallery">Edit Gallery Photos</a>
  </li>
</ul>

<div id="upload-container">
<h2>Add an Image to the {{gallery.title}} Gallery</h2><br>
<form ng-submit="upload(file)">
  <h3>Select Image to Upload:</h3><br>
    <div class="input-group file-upld">
        <label class="input-group-btn">
            <span class="btn btn-default">
                Select Image <input type="file" ngf-select ng-model="file" style="display: none;" name="image">
            </span>
        </label>
        <input type="text" class="form-control" placeholder="No File Selected..." value="{{file.name}}">
    </div><br>
  <button type="submit" class="btn btn-inverse btn-lrg upload-btn">Upload Image</button>
</form><br><br>

<div id="upload-gallery" class="container-fluid bg-3 text-center">
 <div class="container-fluid bg-3 text-center">
 <div class="row">
    <ul class="gallery gallery1">
      <li ng-repeat="image in images">
        <a ng-click="openLightboxModal($index)">
          <img ng-src="{{image.thumb}}" class="img-thumbnail" ng-style="style">
        </a><br>
        <a ng-click="removeImage($index)" class="delete-btn"><button class="btn btn-danger gal-img-container">Remove Image</button></a>
      </li>
    </ul>
  </div>
  </div>
  </div>
</div>
