<h2>Add an Image</h2>
<form ng-submit="upload(file)">
  <div class="btn-group">
    <!-- Pick a Gallery:
    <select class="form-control" >
      <option ng-model="gallery.id" ng-repeat="gallery in galleries">{{gallery.title}}</option>
    </select> -->
    Make this image the gallery's cover letter?
    <select class="selectpicker show-tick" ng-model="image[coverBool]">
      <option value="false" selected>No</option>
      <option value="true">Yes</option>
    </select>
  </div>
  Select Image to Upload:
  <input type="file" ngf-select ng-model="file" name="image">
  <button type="submit">Upload Image(s)</button>
</form>
