<!DOCTYPE html>
<html>
<head>
  <title>Anna Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/6e04e9b3c4.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script> -->
  <!-- <script src="app.js"></script> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  </head>

  <body ng-app="annaPhotography">


  <!-- when wire up rails use this for nav bar -->
  <div ng-include="'nav/_nav.html'"></div>
  <!-- router renders templates here -->
  <ui-view></ui-view>

  <footer class="container-fluid text-center">
    <a href="https://www.instagram.com/anna.bananasss/"><i class="fa fa-instagram fa-2x social-icon" aria-hidden="true"></i></a>
    <a href="mailto:alizano-11@sandiego.edu?subject=Anna_Lizano_Photography"><i class="fa fa-envelope fa-2x social-icon" aria-hidden="true"></i></a>
  </footer>

  </body>
  </html>
