<script type="text/ng-template" id="/location_gallery.html">
  <!-- TRYING TO GET MOUSE OVER TO EXPAND PIC AND NOT MESS UP LAYOUT -->
    <div id="teleport-gallery" class="container-fluid bg-3 text-center">
      <div class="row">
        <div class="teleport-images" ng-repeat="myGalleryImage in myGalleryImages" ng-mouseover="style={'height':'210px','width':'210px'}" ng-mouseleave="style={'height':'200px','width':'200px'}">
            <img class ="teleport-images" ng-style="style"  ng-hide="changeImage" ng-src="{{getGalleryImagePath(myGalleryImage.image)}}" alt="super awesome picture" />
        </div>
      </div>
    </div>
</script>
