<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anna Lizano Photography</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/custom.css" />
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/6e04e9b3c4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="../javascripts/app.js"></script>
</head>

<body ng-app="annaPhotography" ng-controller="ImageCtrl">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="navbar-title" href="#">ANNA LIZANO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Teleport</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
</br>

  <!-- TRYING TO GET MOUSE OVER TO EXPAND PIC AND NOT MESS UP LAYOUT -->
    <div id="teleport-gallery" class="container-fluid bg-3 text-center">
      <div class="row">
        <div class="teleport-images" ng-repeat="myImage in myImages" ng-mouseover="style={'height':'410px','width':'410px'}" ng-mouseleave="style={'height':'400px','width':'400px'}">
          <img class ="teleport-images" ng-style="style"  ng-hide="changeImage" ng-src="{{getImagePath(myImage.image)}}" alt="super awesome picture" />
          <h2 class="teleport-titles">{{myImage.title}}</h2>
        </div>
      </div>
    </div>

<footer class="container-fluid text-center">
  <div class="social-icon">
    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
  </div>
  <div class="social-icon">
    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
  </div>
</footer>

</body>
</html>
