<div id="new-gallery">
  <div class="row">
    <h1>Hey Sexy</h1>
    <a href="#/new_gallery" class="gal-btn"><button type="button" class="btn btn-lg btn-secondary upload-btn">Create New Gallery</button></a>
    <h2>Edit a Gallery:</h2>
    <div class="btn-align">
      <div ng-repeat="gallery in galleries" class="title-btn">
        <button type="button" class="btn btn-lg btn-secondary"><a href="#/upload_image/{{gallery.id}}" class="title-btn">{{gallery.title}}</a></button>
      </div>
    </div>
  </div>
</div>


<ul class="nav nav-tabs">
    <li class="active"><a href="#standardNav">Standard</a></li>
    <li><a href="#/new_gallery">Quick Add</a></li>
</ul>
<div class="calendarNav tab-pane fade in active" id="standardNav">
    Pane 1
</div>
<div id="quickadd" class="tab-pane fade">
    Pane 2
</div>
