<div id="new-gallery">
  <div class="row">
    <h1>Hey Sexy</h1>
    <a href="#/new_gallery" class="gal-btn"><button type="button" class="btn btn-lg btn-secondary upload-btn">Edit Galleries</button></a>
    <h2>Edit Images in a Gallery:</h2>
    <div class="btn-align">
      <div ng-repeat="gallery in galleries" class="title-btn">
        <button type="button" class="btn btn-lg btn-secondary"><a href="#/upload_image/{{gallery.id}}" class="title-btn">{{gallery.title}}</a></button>
      </div>
    </div>
  </div>
</div>
